.quoteCardWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: hsl(217, 19%, 24%);
  max-width: 21.4375rem;
  border-radius: 0.625rem;
  padding: 2rem 2rem 4rem 2rem;
  margin: 0 1rem;
  align-items: center;
  justify-content: center;
  box-shadow: 1.875rem 3.125rem 5rem rgba(0,0,0,.1)
}

.advice, .fetching h1 {
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 3.45714px;
}

.quoteText {
  color: hsl(193, 38%, 86%);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.04875rem;
}

.fetching {
  padding: 2rem;
}

/* spinner css from https://tobiasahlin.com/spinkit/ */

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 2rem auto 0;
}

.doubleBounce1, .doubleBounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: skBounce 2.0s infinite ease-in-out;
  animation: skBounce 2.0s infinite ease-in-out;
}

.doubleBounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes skBounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes skBounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (min-width: 376px) {
  .quoteCardWrapper {
    border-radius: 0.9375rem;
    max-width: 33.75rem;
  }
  .advice, .fetching {
    font-size: 0.8125rem;
    letter-spacing: 4.08571px;
  }
  .quoteText {
    font-size: 1.75rem;
    line-height: 2.390625rem;
  }
}